<div class="widget-wrap">
  <div class="widget-title"><%= __('widget.author') %></div>
  <aside class="profile media widget">
    <figure class="profile-avatar media-left">
      <img src="<%- url_for(theme.avatar) %>" class="avatar" alt="<%=theme.author %>">
    </figure>
    <div class="media-content">
      <p>
        <strong>
          <span><%=config.author %></span>
          <span class="icon">
            <a href="<%- url_for(theme.contact1.url) %>" target="_blank">
              <i class="fa fa-<%=theme.contact1.icon %>"></i>
            </a>
          </span>
          <span class="icon">
            <a href="<%- url_for(theme.contact2.url) %>" target="_blank">
              <i class="fa fa-<%=theme.contact2.icon %>"></i>
            </a>
          </span>
        </strong>
        <br>
        <span><%= theme.author_title %>
        <a href= "<%- url_for(config.aboutPage) %>" >≪more≫</a></span>
      </p>
    </div>
  </aside>
</div>
